$sprite: './../img/football-events-sprite.png';

%yellow-red {
  background: url($sprite) no-repeat 0 0;
	width: 12px;
	height: 15px;
}

%goal {
  background: url($sprite) no-repeat 0 -25px;
	width: 12px;
	height: 12px;
}

%save {
  background: url($sprite) no-repeat 0 -47px;
	width: 26px;
	height: 15px;
}

%red-card {
  background: url($sprite) no-repeat 0 -142px;
	width: 11px;
	height: 15px;
}

%yellow-card {
  background: url($sprite) no-repeat 0 -225px;
	width: 11px;
	height: 15px;
}

%whistle {
  background: url($sprite) no-repeat 0 -207px;
	width: 12px;
	height: 8px;
}

%sub-off {
  background: url($sprite) no-repeat 0 -173px;
	width: 12px;
	height: 4px;
}

%sub-on {
  background: url($sprite) no-repeat 0 -187px;
	width: 12px;
	height: 4px;
}

%penalty-scored {
  background: url($sprite) no-repeat 0 -118px;
	width: 17px;
	height: 14px;
}

%penalty-missed {
  background: url($sprite) no-repeat 0 -94px;
	width: 15px;
	height: 14px;
}
