@import './../../assets/partials/sprites.scss';

%event {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeline {}

.timeline__event--home {
  @extend %event;
}

.timeline__event--away {
  @extend %event;
  flex-flow: row-reverse;
}

.timeline__event--both {
  @extend %event;
  justify-content: center;
}

.timeline__event--time {
  margin: 0 10px;
}

.timeline__event--goal {
  @extend %goal;
}

.timeline__event--substitution_off {
  @extend %sub-off;
}

.timeline__event--substitution_on {
  @extend %sub-on;
}

.timeline__event--penaltyshot-missed {
  @extend %penalty-missed;
}

.timeline__event--penaltyshot-scored {
  @extend %penalty-scored;
}

.timeline__event--booking {
  @extend %yellow-card;
}
