@import './../sportdec-colors.scss';

header, footer {
  background-color: $royal;
  padding: 10px 0;
  text-align: center;
  color: $stable;
  font-weight: bold;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.header__image {
  max-width: 80%;
}

.match-details--title {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.match-details--date {
  text-align: center;
}
